@using System.Collections
@using Diary.DAL

@model IList<WorkDay>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

    <label>Задачи</label>
    @Html.ActionLink("Add day", "AddWorkDay", "WorkDays")
    <table>
        @{
            IList<WorkDay> workDays = Model;
            foreach (var workDay in workDays)
            {
                <tr>
                    <td>@Html.Raw(workDay.Id)</td>
                    <td>@Html.Raw(workDay.Date)</td>
                    <td>@Html.Raw(workDay.UserName)</td>
                    <td>@Html.Raw(workDay.Comment)</td>
                </tr>
            }
        }
    </table>
